torch==2.3.1
trl<0.9.0
peft
accelerate
bitsandbytes
seaborn
matplotlib
datasets
scikit-learn
huggingface_hub
pandas
tqdm
numpy
statsmodels
plotly
google-api-python-client
pythainlp
langdetect
google-cloud-aiplatform
vertexai
